<!--Main header that is fixed to the top of the page-->
<header class="header-section full-width" [ngClass]="{scroll : activeState}">
    <div class="container" id="header-main">
        <div class="row">
        <!--Logo section-->
        <div class="col logo-container">
            <div class="logo"> 
            <a href="#">
                <img src="../assets/logo.png" class="trans-logo">
            </a>
            </div>
        </div>
        <!--Navigation-->
        <div class="col header-nav">
            <div class="navigation">
                <ul class="nav nav-tabs">
                <li>
                    <a href="#home"><strong>Home</strong></a>
                </li>
                <li>
                    <a href="#demo"><strong>Music</strong></a>
                </li>
                <li>
                    <a href="#film"><strong>Film Work</strong></a>
                </li>
                <li>
                    <a href="#about"><strong>About</strong></a>
                </li>
                <li>
                    <a href="#contact"><strong>Contact</strong></a>
                </li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</header>