.footer-section {
    background-color: #1F1F1F;
}

.footer-bottom {
    background-color: #fff;
}

.footer-bottom-content {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}
.footer-bottom-content span {
    font-size: 14px;
    color: #000;
}

.footer-top-social {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.footer-top-social a {
    margin-left: 20px;
    margin-right: 20px;
}
.footer-top-email {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.footer-top-email a {
    font-size: 20px;
    color: #fff;
    transition-duration: .2s;
}
.footer-top-email a:hover {
    font-size: 20px;
    color: #44318D;
    text-decoration: none;
    transition-duration: .2s;
}
.footer-top {
    padding-top: 40px;
    padding-bottom: 40px;
}