<div class="footer-section">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-top-email">
                        <a href="mailto:hussain@hussainhamoudi.com">hussain@hussainhamoudi.com</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="footer-top-social">
                        <a href="https://www.instagram.com/hussainmudi/" target="_blank">
                            <i class="fab fa-instagram fa-3x"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCNb03AdMeg1adD0cktkYfyg?" target="_blank">
                            <i class="fab fa-youtube fa-3x"></i>
                        </a>
                        <a href="https://soundcloud.com/hussainhamoudi" target="_blank">
                            <i class="fab fa-soundcloud fa-3x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-bottom-content">
                        <span>© 2019 by Hussain Hamoudi | All Rights Reserved</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>