<div class="about-section section-padding background-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="title-container">
                    <h2>About Me</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 image">
                <div class="about-image">
                    <img src="../assets/hussain-hiking-niagara.jpg" alt="About Hussain Hamoudi" class="image-shadow">
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-text">
                    <p>I’m a music composer from Buffalo, NY. I’m passionate about films, video games, 
                        and bringing them to life. My specialty is orchestral/synth hybrid music, but I’ve 
                        composed a variety of genres. From soft ambiences to thrilling action, I elevate projects 
                        through music and sound. Below are some examples of my music. If you’d like to make an inquiry, 
                        contact me via email or message me on social media.</p>
                </div>
            </div>
        </div>
    </div>
</div>