<div class="demo-section section-padding background-primary">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-container">
                    <h2 class="title">Music Demo Reel</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" 
                    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/387508097%3Fsecret_token%3Ds-oJVkv&color=%234c3c6c&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true">
                </iframe>
            </div>
        </div>
    </div>
</div>
