.form-button {
    text-align: center;
}

.form-button button.ng-disabled {
    background-color: rgba(0, 0, 0, 0);
}

.help-block {
    color: red;
    font-size: 14px;
}
.thank-you-block {
    margin-top: 30px;
    text-align: center;
    border: 1px green solid;
    padding: 3px;
}