.form-button {
    text-align: center;
}

.form-button button.ng_disabled {
    background-color: rgba(0, 0, 0, 0) !important;
}

.help-block {
    color: red;
    font-size: 14px;
}
.thank-you-block {
    margin-top: 30px;
    text-align: center;
}
.thank-you-block span {
    padding: 10px;
    border: 2px green solid;
}
input, textarea {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    color: #fff !important;
    outline-width: 0;
}

input:focus, textarea:focus {
    background-color: rgba(0, 0, 0, 0);
    outline: 0;
    outline-width: 0 !important;
}

.appeared {
    display: block;
}

.disappeared {
    display: none;
}