/* Main Header Styles */

/* General Styles */
.header-section {
    position: absolute;
    z-index: 2;
    background: #1F1F1F no-repeat center;
    padding: 0px 0 0px 0;
    transition-duration: .5s;
    width: 100%;
}
.header-nav { 
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Logo styles */
.logo  {
    padding: 20px;
}
.logo img.trans-logo {
    max-height: 50px;
}

.logo span {
    font-size: 20px;
    color: #252932;
}

/* Navigation styles */
.nav {
    border-bottom: none;
    display: flex;
    justify-content: space-around;
}
.nav-tabs li a {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    transition-duration: .3s;
    padding: 5px;
}
.nav-tabs li:hover a {
    border-bottom: none;
    border-radius: 5px;
    color:  #44308D;
    background-color: rgba(0, 0, 0, 0);
    transition-duration: .3s;
    text-decoration: none;
}
i.active {
    color:  #44308D; 
}
i.inactive {
    color:  #fff; 
}

/* mobile menu styles */
#header-mobile-subsection {
    background-color: #44308D;
    padding: 0;
}
.mobile-menu {
    text-align: center;
    width: 100%;
}
.mobile-menu a {
    display: block;
    padding: 10px 0px 10px 0px;
    border-bottom: #000 solid 1px;
    text-decoration: none;
}
.mobile-menu a:first-child {
    border-top: #000 solid 1px;
}
.mobile-menu a:hover {
    color: #000;
}

