<!--Mobile Header-->
<header class="header-section" id="header-mobile">
    <div class="container" id="header-mobile-main">
        <div class="row">
        <!--Logo section-->
        <div class="col-10 logo-container">
            <div class="logo"> 
            <a href="#">
                <img src="../assets/logo.png" class="trans-logo">
            </a>
            </div>
        </div>
        <!--Navigation section-->
        <div class="col-2 header-nav">
            <div class="navigation">
                <a class="mobile-menu-toggle" (click)="toggleMobileMenu()" [ngClass]="mobileToggle ? 'active' : 'inactive' ">
                <i class="fa fa-bars fa-2x"></i>
                </a>
            </div>
            </div>
        </div>
    </div>
    <!--Hidden navigation menu. Activated when the nav icon is toggled-->
    <ng-container *ngIf="mobileToggle">
        <div id="header-mobile-subsection">
            <div class="mobile-menu">
                <a href="#home"><strong>Home</strong></a>
                <a href="#demo"><strong>Music</strong></a>
                <a href="#film"><strong>Film</strong></a>
                <a href="#about"><strong>About</strong></a>
                <a href="#contact"><strong>Contact</strong></a>
            </div>
        </div>
    </ng-container>
</header>